@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*----font-family: 'Lato', sans-serif;---------*/
*{
    font-family: 'Lato', sans-serif;
}

body{
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

.container{
  background-color: aqua;
  height: 90vh;
  width: 90vw;
}

.result{
  height: 50px;
  width: 50px;
  background-color: lightpink;
}

.current{
  height: 50px;
  width: 50px;
  background-color: bisque;
}

.rolldice{
  height: 50px;
  width: 50px;
  background-color: burlywood;
}